[Unit]
Description=RTK Localization Service
After=network.target

[Service]
Type=simple
# 指定运行该脚本的用户
User=user
# 设置工作目录，确保脚本内的相对路径能正确解析
WorkingDirectory=/home/user/
# 执行命令，必须使用绝对路径
ExecStart=/bin/bash  /home/user/fslam/fslam/run_fixposition_prod.sh
# 发生故障时自动重启
Restart=on-failure
# 重启间隔时间
RestartSec=5s

# 如果脚本会将日志输出到终端，systemd 会自动将其捕获到 journalctl 中
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

